# Credenciales y secretos
**/cloud_credentials.json
config/cloud_credentials.json
OptiMon-BASE-UNIFICADO/config/cloud_credentials.json

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Logs
*.log

# Temporales
*.tmp
*.temp

# Builds y distribuciones
dist/
build/
*.exe

# IDE
.vscode/
.idea/
